<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiling.bank.dao.UserDAO">

    <resultMap id="BaseResultMap" type="com.zhiling.bank.entity.User">
        <id column="userid" property="userid" />
        <id column="username" property="username"/>
        <id column="userpwd" property="userpwd"/>
        <id column="realname" property="realname"/>
        <id column="idcard" property="idcard"/>
        <id column="phone" property="phone"/>
        <id column="email" property="email"/>
        <id column="type" property="type"/>
        <id column="logintime" property="logintime"/>
        <id column="info1" property="info1"/>
        <id column="info2" property="info2"/>
    </resultMap>

    <sql id="key">
        <trim suffixOverrides=",">
            <if test="username!=null and username!=''">
                username,
            </if>
            <if test="userpwd!=null and userpwd!=''">
                userpwd,
            </if>
            <if test="realname!=null and realname!=''">
                realname,
            </if>
            <if test="idcard!=null and idcard!=''">
                idcard,
            </if>
            <if test="phone!=null and phone!=''">
                phone,
            </if>
            <if test="email!=null and email!=''">
                email,
            </if>
            <if test="info1!=null and info1!=''">
                info1,
            </if>
            <if test="info2!=null and info2!=''">
                info2,
            </if>
            <if test="type!=null and type!=''">
                type,
            </if>
        </trim>
          logintime
    </sql>
    
    <sql id="value">
        <trim suffixOverrides=",">
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="userpwd != null and userpwd != ''">
                userpwd = #{userpwd},
            </if>
            <if test="realname != null and realname != ''">
                realname = #{realname},
            </if>
            <if test="idcard != null and idcard != ''">
                idcard = #{idcard},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="logintime != null">
                logintime = #{logintime},
            </if>
            <if test="info1 != null and info1 != ''">
                info1 = #{info1},
            </if>
            <if test="info2 != null and info2 != ''">
                info2 = #{info2},
            </if>
            <if test="type != null and type != ''">
                type = #{info2},
            </if>
        </trim>
        now()
    </sql>

    <!-- 登录 -->
    <select id="islogin" resultMap="BaseResultMap" parameterType="User" >
        select
        userid, username, userpwd, realname, idcard, phone, email, type, logintime, info1, info2
         from user where username=#{username} and userpwd=#{userpwd}
    </select>
    <!-- 注册 -->
    <insert id="register" parameterType="User" keyProperty="userid" useGeneratedKeys="true">
        insert into bank.user(<include refid="key"></include>)
        values (<include refid="value"></include>)
    </insert>
    <!--查询单个-->
    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
          userid, username, userpwd, realname, idcard, phone, email, type, logintime, info1, info2
        from bank.user
        where userid = #{userid}
    </select>

    <!--通过主键修改数据-->
    <update id="update" parameterType="User" useGeneratedKeys="true">
        update bank.user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="userpwd != null and userpwd != ''">
                userpwd = #{userpwd},
            </if>
            <if test="realname != null and realname != ''">
                realname = #{realname},
            </if>
            <if test="idcard != null and idcard != ''">
                idcard = #{idcard},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="logintime != null">
                logintime = #{logintime},
            </if>
            <if test="info1 != null and info1 != ''">
                info1 = #{info1},
            </if>
            <if test="info2 != null and info2 != ''">
                info2 = #{info2},
            </if>
        </set>
        where userid = #{userid}
    </update>
</mapper>